:root {
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);
}

body {
    background-color: var(--grey-100);
}

* {
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
    "."
    "container"
    "footer";
    min-height: 100vh;
}

.grid-container {
    grid-area: container;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2em;
    margin: 0 auto;
    width: min(80em, 90%);
}

.box {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    padding: 2em;
    box-shadow: 40px 50px 30px var(--grey-200);
}

.box * {
    position: relative;
    z-index: 1;
}

#daniel {
    grid-column: 1 / span 2;
}

#jeanette {
    grid-row-start: 2;
}

#kira {
    grid-column-start: 4;
    grid-row: 1 / span 2;
}

#patrick {
    grid-column: span 2;
}

.purple {
    background-color: var(--purple-500);
    color: var(--purple-50);
}

img.bg-quotation {
    position: absolute;
    top: 0;
    right: 10%;
    z-index: 0;
    height: 120px;
}

.grey {
    background-color: var(--grey-500);
    color: var(--grey-100);
}

.dark-blue {
    background-color: var(--dark-blue);
    color: var(--grey-200);
}

.white {
    background-color: var(--white);
    color: var(--grey-500);
}

.nameplate {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
}

img.profile-photo {
    grid-row: 1 / span 2;
    height: 40px;
    border-radius: 50%;
    margin-right: 1em;
}

.purple img.profile-photo {
    border: 2px solid var(--purple-300);
}

.grey img.profile-photo {
    border: 2px solid var(--grey-500);
}

.dark-blue img.profile-photo {
    border: 2px solid var(--purple-500);
}

.white img.profile-photo {
    border: 2px solid var(--white);
}

.name {
    font-weight: 500;
}

.title {
    font-size: 0.8em;
}

.headline {
    margin: 0.8em 0;
    font-size: 1.4em;
    font-weight: 600;
}

footer {
    grid-area: footer;
    align-self: end;
    z-index: 1;
    text-align: center;
    padding: 1em;
    font-size: 0.8em;
    color: var(--grey-400);
}

footer a {
    color: var(--purple-500);
}

footer a:hover {
    color: var(--purple-300);
}


@media only screen and (max-width: 1000px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: none;
        width: min(40em, 90%);
    }

    img.bg-quotation {
        display: none;
    }

    #daniel {
        grid-column: auto / auto;
    }
    
    #jeanette {
        grid-row-start: auto;
    }
    
    #kira {
        grid-column-start: auto;
        grid-row: auto / auto;
    }
    
    #patrick {
        grid-column: auto;
    }
}